<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright (c) 2015-2019 TomTom N.V. All rights reserved.
  ~
  ~ This software is the proprietary copyright of TomTom N.V. and its subsidiaries and may be used
  ~ for internal evaluation purposes or commercial use strictly subject to separate licensee
  ~ agreement between you and TomTom. If you are the licensee, you are only permitted to use
  ~ this Software in accordance with the terms of your license agreement. If you are not the
  ~ licensee then you are not authorised to use this software in any manner and should
  ~ immediately return it to TomTom N.V.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tomtom.sdk.examples">

    <!-- tag::WRITE_EXTERNAL_STORAGE[] -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- end::WRITE_EXTERNAL_STORAGE[] -->

    <application
        android:name="com.tomtom.online.sdk.samples.ktx.SampleApp"
        android:allowBackup="true"
        android:appComponentFactory="androidx"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:appComponentFactory">

        <activity
            android:name="com.tomtom.online.sdk.samples.ktx.SplashActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:noHistory="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.tomtom.online.sdk.samples.ktx.MainActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.tomtom.online.sdk.examples.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>